<template name="home">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h2>Chat Window</h2>
        <ul class="list-group">
          {{#each messages}}
          <li class="list-group-item">
          <p><strong>{{user_id}}:</strong>{{body}} -{{created_at}}</p>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="col-md-2">
        <h2>Users</h2>
        <ul class="list-group">
          <li class="list-group-item">Username</li>
          <li class="list-group-item">Username</li>
          <li class="list-group-item">Username</li>
          <li class="list-group-item">Username</li>
          <li class="list-group-item">Username</li>
        </ul>
      </div>
    </div> 
    <div class="row">
      <form class="form" action="">
        <div class="form-group"><textarea id="" class="form-control" style="width:100%;"></textarea></div>
      </form>
    </div>
  </div>
</template>
